div(ng-include='"components/navbar/navbar.html"')
.container
  ul.list-group
    li.list-group-item(ng-repeat='transferReason in transferReasons | orderBy:["active","name"]')
      strong(ng-if='transferReason != editedTransferReason', ng-dblclick='editTransferReason(transferReason)') {{transferReason.name}}
      form(ng-submit='doneEditing(transferReason)', ng-if='transferReason == editedTransferReason')
        input.edit(ng-trim='false', ng-model='transferReason.name', outcome-escape='revertEditing(transferReason)', ng-blur='doneEditing(transferReason)', autofocus)
      a.trash(ng-click='deleteTransferReason(transferReason)')
        span.glyphicon.glyphicon-trash.pull-right
      br
      span.text-muted {{transferReason.email}}
        br
        div.checkbox
          label() Active
            input(type='checkbox', ng-model='transferReason.active', ng-checked='transferReason.active', ng-change='saveTransferReason(transferReason)')

  form.transferReason-form
    p.input-group
      input.form-control(type='text', placeholder='Add a new transferReason here.', ng-model='newTransferReason')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addTransferReason(newTransferReason)') Add New
