div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
      br
      span.text-muted {{user.email}}
        br
        div.checkbox
          label(ng-click="alert('click')") Admin
            input(type='checkbox', ng-model='user.isAdmin', ng-checked='isAdmin(user)', ng-change='toggleAdmin(user)')
