div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Login

    .col-sm-12
      form.form(name='form', ng-submit='login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='text', name='email', ng-model='user.email')
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
            | Please enter your email and password.
          p.help-block {{ errors.other }}

        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit')
            | Login
          = ' '
          a.btn.btn-default.btn-lg.btn-register(href='/signup')
            | Register

      //-
        hr

        div
          a.btn.btn-google-plus(href='', ng-click='loginOauth("google")')
            i.fa.fa-google-plus
            |  Connect with Google+
          = ' '
  hr
