div(ng-include='"components/navbar/navbar.html"')
.container
  form.datepicker-form
    p.input-group
      datepicker(show-weeks='false', ng-model='newClinicDay', ng-change='changeClinicDay()')

  form.form-horizontal(ng-if='clinicDay != null', ng-submit='saveClinicDay()')
    div.well
      h1 Prenatal
      div.form-group
        label.col-sm-3.control-label(for='inputInitialPrenatal') Initial Visits
        div.col-sm-3
          input.form-control(type='number', placeholder='Initial prenatal visits', ng-model='clinicDay.prenatalInitialVisits')

        label.col-sm-3.control-label(for='inputReturnPrenatal') Return Visits
        div.col-sm-3
          input.form-control(type='number', placeholder='Return prenatal visits', ng-model='clinicDay.prenatalReturnVisits')

      h3 Prenatal Transfers
        button.pull-right.btn.btn-lg.btn-primary(type="button", ng-click='addTransfer(newPrenatalTransfer, "prenatalTransfers")')
          i.glyphicon.glyphicon-plus
          |  Add a Prenatal Transfer
      hr
      div.form-group(ng-repeat='transfer in clinicDay.prenatalTransfers')
        div.row
          div.col-sm-5
            input.form-control(type='text', typeahead='prenatalTransferReason for prenatalTransferReason in choices.prenatalTransferReasons | filter:$viewValue | limitTo:8', typeahead-min-length='0', ng-model='transfer.reason', data-placeholder='reason for transfer' ng-blur="checkChoices(transfer.reason, 'prenatalTransferReasons')" focus="{{ $index == indices.prenatalTransfers }}")
          div.col-sm-3.checkbox
            label
              input(type='checkbox', ng-model='transfer.motherLived')
              |  Mother Lived
          div.col-sm-3.checkbox
            label
              input(type='checkbox', ng-model='transfer.babyLived')
              |  Baby Lived
          a.col-sm-1.trash(ng-click='removeTransfer($index, "prenatalTransfers")')
            span.pull-right.glyphicon.glyphicon-trash

    hr

    div.well
      h1 Births
        button.pull-right.btn.btn-lg.btn-primary(type="button", ng-click='addBirth()')
          i.glyphicon.glyphicon-plus
          |  Add a Birth
      div.form-group
      hr
      div.form-group(ng-repeat='birth in clinicDay.births')
        div.row
          div.col-sm-5
            input.form-control(type='text', typeahead='midwife for midwife in choices.midwives | filter:$viewValue | limitTo:8', typeahead-min-length='0', ng-model='birth.primaryMidwife', placeholder='Primary Midwife' ng-blur="checkChoices(birth.reason, 'midwives')" focus="{{ $index == indices.births }}")
          div.col-sm-5
            input.form-control(type='text', typeahead='midwife for midwife in choices.midwives | filter:$viewValue | limitTo:8', typeahead-min-length='0', ng-model='birth.secondaryMidwife', placeholder='Secondary Midwife' ng-blur="checkChoices(birth.reason, 'midwives')")
          a.col-sm-1.col-sm-offset-1.trash(ng-click='removeBirth($index)')
            span.pull-right.glyphicon.glyphicon-trash

      h3 Birth Transfers
        button.pull-right.btn.btn-lg.btn-primary(type="button", ng-click='addTransfer(newBirthTransfer, "birthTransfers")')
          i.glyphicon.glyphicon-plus
          |  Add a Birth Transfer
      hr
      div.form-group(ng-repeat='transfer in clinicDay.birthTransfers')
        div.row
          div.col-sm-5
            input.form-control(type='text', typeahead='birthTransferReason for birthTransferReason in choices.birthTransferReasons | filter:$viewValue | limitTo:8', typeahead-min-length='0', ng-model='transfer.reason', data-placeholder='reason for transfer' ng-blur="checkChoices(transfer.reason, 'birthTransferReasons')" focus="{{ $index == indices.birthTransfers }}")
          div.col-sm-3.checkbox
            label
              input(type='checkbox', ng-model='transfer.motherLived')
              |  Mother Lived
          div.col-sm-3.checkbox
            label
              input(type='checkbox', ng-model='transfer.babyLived')
              |  Baby Lived
          a.col-sm-1.trash(ng-click='removeTransfer($index, "birthTransfers")')
            span.pull-right.glyphicon.glyphicon-trash

    hr

    div.well
      h1 Postpartum
      div.form-group
        label.col-sm-3.control-label(for='inputInitialPostpartum') Initial Visits
        div.col-sm-3
          input.form-control(type='number', placeholder='Initial postpartum visits', ng-model='clinicDay.postpartumInitialVisits')
        label.col-sm-3.control-label(for='inputReturnPostpartum') Return Visits
        div.col-sm-3
          input.form-control(type='number', placeholder='Return postpartum visits', ng-model='clinicDay.postpartumReturnVisits')

      h3 Postpartum Transfers
        button.pull-right.btn.btn-lg.btn-primary(type="button", ng-click='addTransfer(newPostpartumTransfer, "postpartumTransfers")')
          i.glyphicon.glyphicon-plus
          |  Add a Postpartum Transfer
      hr
      div.form-group(ng-repeat='transfer in clinicDay.postpartumTransfers')
        div.row
          div.col-sm-5
            input.form-control(type='text', typeahead='postpartumTransferReason for postpartumTransferReason in choices.postpartumTransferReasons | filter:$viewValue | limitTo:8', typeahead-min-length='0', ng-model='transfer.reason', data-placeholder='reason for transfer' ng-blur="checkChoices(transfer.reason, 'postpartumTransferReasons')" focus="{{ $index == indices.postpartumTransfers }}")
          div.col-sm-3.checkbox
            label
              input(type='checkbox', ng-model='transfer.motherLived')
              |  Mother Lived
          div.col-sm-3.checkbox
            label
              input(type='checkbox', ng-model='transfer.babyLived')
              |  Baby Lived
          a.col-sm-1.trash(ng-click='removeTransfer($index, "postpartumTransfers")')
            span.pull-right.glyphicon.glyphicon-trash

    hr

    div.well
      h1 Extra Information
        button.pull-right.btn.btn-lg.btn-primary(type="button", ng-click='addExtraField(newExtraField)')
          i.glyphicon.glyphicon-plus
          |  Add an extra stat to track
      div.form-group(ng-repeat='extraField in clinicDay.extraFields')
        div.row
          div.col-sm-5
            input.form-control(type='text', typeahead='extraField for extraField in choices.extraFields | filter:$viewValue | limitTo:8', typeahead-min-length='0', ng-model='extraField.name', placeholder='name for statistic' ng-blur="checkChoices(extraField.name, 'extraFields')" focus="{{ $index == indices.extraFields }}")
          div.col-sm-5
            input.form-control(type='number', ng-model='extraField.value', data-placeholder='Stat Value')
          a.col-sm-1.trash(ng-click='removeExtraField($index)')
            span.pull-right.glyphicon.glyphicon-trash

    button.btn.btn-primary(type='submit') Save
