$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

div.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.trash {
    padding-top: 10px;
}

/* Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'clinic/clinic.scss';
@import 'main/main.scss';
@import 'midwives/midwives.scss';
@import 'report/report.scss';
@import 'transferreasons/transferreasons.scss';
// endinjector
