div(ng-include='"components/navbar/navbar.html"')
.container
  ul.list-group
    li.list-group-item(ng-repeat='midwife in midwives | orderBy:["active","name"]')
      strong(ng-if='midwife != editedMidwife', ng-dblclick='editMidwife(midwife)') {{midwife.name}}
      form(ng-submit='doneEditing(midwife)', ng-if='midwife == editedMidwife')
        input.edit(ng-trim='false', ng-model='midwife.name', outcome-escape='revertEditing(midwife)', ng-blur='doneEditing(midwife)', autofocus)
      a.trash(ng-click='deleteMidwife(midwife)')
        span.glyphicon.glyphicon-trash.pull-right
      br
      span.text-muted {{midwife.email}}
        br
        div.checkbox
          label() Active
            input(type='checkbox', ng-model='midwife.active', ng-checked='midwife.active', ng-change='saveMidwife(midwife)')

  form.midwife-form
    p.input-group
      input.form-control(type='text', placeholder='Add a new midwife here.', ng-model='newMidwife')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addMidwife(newMidwife)') Add New
