div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    img(src='assets/images/logo.png', alt='Mama Baby Haiti')
    h1 Clinical Stats Application
    p.lead(ng-hide='isLoggedIn()')
      a.btn.btn-lg.btn-success(href='/login') Login Here

footer.footer
  .container
    p
      a(href='http://dynamicoptimizationsolutions.com') Created by DOS
