div(ng-include='"components/navbar/navbar.html"')
.container
  form.form-horizontal(role='form', ng-submit='generateReport()')
    div.form-group
      label.col-sm-2.control-label Date Range
      div.col-sm-10
        div.col-sm-4
          datepicker(show-weeks='false', id='startDate', ng-model='reportStartDate')
        div.col-sm-1
          h3 To
        div.col-sm-4
          datepicker(show-weeks='false', id='endDate', ng-model='reportEndDate')
    div.form-group
      label.col-sm-2.control-label Grouping
      div.col-sm-10
        select.form-control(id="grouping", ng-model='grouping', data-placeholder='Grouping')
          option(ng-repeat='option in groupingOptions' value='{{option.id}}') {{option.display}}
    div.form-group
      div.col-sm-10.col-sm-offset-2
        button.btn.btn-primary(type="submit") Generate Report

